html {
	height:100vh;
	max-height: 100vh;
	/*overflow-y: hidden; // hide vertical*/
	/*overflow-x: hidden; // hide horizontal*/
}

body {
	line-height: inherit;
}

#main {
	/*height: 93vh;*/
}

#menu-bottom {
	position: fixed;
	bottom: 0;
	margin-bottom: 0px;
	height: 7vh;
	width: 100vw

}

#dateHead{
	height: 50px;
	background-color: black;
}

#ddIcon {
    font-size: 35px;
    margin: 0;
    padding-top: 2%;
}

.header {
	height: inherit;
	display: inline;
	text-align: center;
	color: white;
}

#date_dropdownIcon {
	width: 10vw;
	float: left;
	padding-left: 4%;	
}

#date_start {
	width: 42vw;
	float: left;
	font-size: 20px;
	text-align: center;
	line-height: 2.3em;
}

#date_divider {
	width: 6vw;
	float: left;
	font-size: 35px;
	text-align: center;
}

#date_end {
	width: 42vw;
	float: right;
	font-size: 20px;
	text-align: center;
	line-height: 2.3em;
}


/* CALENDAR */

.ui.table {
	height: 50vh;
	border-radius: 0;
}
/*
.ui.calendar .ui.table tr td{
	background-color: green;
	border-radius: 100%;
}*/

div.ui.grid {
	/*padding: 0px;*/
	margin-left: 0;
	
}

#iconData {
	font-size: 5em;
    width: -webkit-fill-available;
    height: inherit;
    border:0.5px solid black;
    border-radius: 5px;
    padding: 15px 0 15px 0;
}

#dashboardSelect {
	padding: 4%;
}
#metricSelect {
     padding-top: 1em;
     padding-bottom: 1em;
}



/*SCROLL EFFECT*/

::-webkit-scrollbar{display:none;}
::-webkit-scrollbar-button{width:2px;height:2px;}


.horizontal-scroll-wrapper{
  position:absolute;
  display:block;
  /*left:0;*/
  width:170px;
  max-height:640px;
  margin:0;
  background:inherit;
  overflow-y:auto;
  overflow-x:hidden;
  transform:rotate(-90deg) translateY(-170px);
  transform-origin:right top;
}
.horizontal-scroll-wrapper > div{
  display:block;
  padding:5px;
  transform:rotate(90deg);
  transform-origin: right top;
}

.squares{
  padding:150px 0 0 0;
}

.squares > div{
	width:150px;
	height:150px;
	margin:10px;
	display: block; 
	opacity: .6; 
	border-radius: 6px; 
    background-color: grey;
}

#metrics_icon {
	color: white;
    height: fit-content;
    width: -webkit-fill-available;
}
/******************************************************************
              
DASHBOARD Page

********************************************************************/

.insights {
	padding: 4%;
}


/******************************************************************
              
Entry Page

********************************************************************/

#cardHolder {
	padding: 4%;
}

.ui.menu {
	height: -webkit-fill-available;
}
.ui.menu .item {
	width: 33.33%;
}

.ui.menu .item > i.icon {
	font-size: 3em;
    margin: auto;
}

.header {
	text-align: left;
}
.ui.card {
	min-width: 100%;
}

#entryDateControl {
	padding-top: 2%;
	width: 100%;
}

#entryDateControl>div{
	margin: auto;
    width: 50%;
}
/*#entryDatControl-buttons {
    margin: auto;
    width: 50%;
}*/
#entryDateControl .ui.buttons {
    width: -webkit-fill-available;
}

#entryDateControl>div>.ui.button {
	width: 150px;
}

#newEntryButton {
    position: fixed;
    right: 4%;
    bottom: 10%;
    z-index: 10;
}

#newEntryButton>.ui.button {
	width: 60px;
	height: 60px;
	border: 0px;
	border-radius: 100%;
}


/******************************************************************
              
New Entry Page

********************************************************************/

.ui.form .fields {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}